
<ion-view view-title="Customer Details"  hide-back-button="false" >
  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C"  backdrop="true">
    <ion-floating-item icon="ion-ios-personadd"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Create Customer"></ion-floating-item>
    <ion-floating-item icon="ion-ios-infinite"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Customer Statement"></ion-floating-item>

  </ion-floating-menu>
  <ion-nav-title>
    <p >{{customer.firstName}}{{customer.lastName}}</p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-more-outline" style="color:#fff;" ng-click="show()"></a>

  </ion-nav-buttons>
  <ion-content class="pregled" style="padding: 10px; margin:10px;">
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading customer's details...</h4>
      <div class="col"></div>
    </div>
    <div ng-show="dataLoaded">
    <div class="operacija"><h5 ><b>Id : </b>{{customer.id}}</h5></div>
    <div class="operacija"><h5 ><b>Full name : </b> {{customer.firstName}} {{customer.lastName}}</h5></div>
    <div class="operacija"><h5><b>Email : </b>{{customer.email}}</h5></div>
    <div class="operacija" ng-href="tel:+{{companyObj.callingCodes}}{{customer.telephone}}"><h5><b>Telephone : </b>{{customer.telephone}}</h5></div>
    <div class="operacija"><h5><b>Address : </b>{{customer.address}} {{customer.addressStreetNumber}}</h5></div>
    <div class="operacija"><h5><b>Have debt : </b>
      <span ng-show="order.hasDebt"><i class="ion-checkmark-round" style="color:green; font-size: 15px;"></i> </span>
      <span ng-show="!order.hasDebt"><i class="ion-close-round" style="color:red; font-size: 15px;"></i> </span></h5>
    </div>
    <div class="operacija"><h5 ><b>Total debt: </b>  {{customer.debtAmount | number:2}} {{customer.currencySymbol}}</h5></div>
    <div class="operacija"><h5 ><b>Created at : </b> {{customer.createdAt  | date:'dd/MM/yyyy'}}</h5></div>
    </div>
    <div ng-show="dataLoaded">
      <a class="button icon-right ion-ios-telephone button-calm">Call</a>
      <a class="button icon-right ion-ios-email button-calm">Send SMS</a>

    </div>

  </ion-content>
</ion-view>
