<ion-view view-title="Customers">

  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C"  backdrop="true">
    <ion-floating-item icon="ion-ios-personadd"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Create Customer"></ion-floating-item>
    <ion-floating-item icon="ion-ios-infinite"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Customer Statement"></ion-floating-item>

  </ion-floating-menu>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading customers...</h4>
      <div class="col"></div>
    </div>


    <div ng-show="dataLoaded">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear button-positive">
          Clear
        </button>

      </div>
      <ion-list ng-repeat="c in customers">
        <ion-item href="#/app/customers/{{c.id}}" on-hold="onHold()">
          <p>Customer name: {{c.firstName}} {{c.lastName}} </p>
          <p>Have debt:
            <span ng-show="c.hasDebt"><i class="ion-checkmark-round" style="color:green; font-size: 15px;"></i> </span>
            <span ng-show="!c.hasDebt"><i class="ion-close-round" style="color:red; font-size: 15px;"></i> </span>
          </p>
          <p ng-show="c.hasDebt">Total debt: {{c.debtAmount}} {{companyObj.currencySymbol}}</p>
        </ion-item>

      </ion-list>
    </div>

  </ion-content>
</ion-view>
