
<ion-view view-title="Customer Details"  hide-back-button="false" >
  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C"  backdrop="true">
    <ion-floating-item icon="ion-ios-personadd"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Create Customer"></ion-floating-item>
    <ion-floating-item icon="ion-ios-infinite"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Customer Statement"></ion-floating-item>

  </ion-floating-menu>
  <ion-nav-title>
    <p >{{customer.firstName}} {{customer.lastName}}</p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-more-outline" style="color:#fff;" ng-click="show()"></a>

  </ion-nav-buttons>
  <ion-content class="pregled">
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading customer's details...</h4>
      <div class="col"></div>
    </div>


    <div ng-show="dataLoaded">


      <div class="list">

        <div class="item item-divider">
          Basic info
        </div>

        <a class="item">
          <div class="operacija"><p><b>Id : </b>{{customer.id}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Full name : </b> {{customer.firstName}} {{customer.lastName}} </p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Have debt : </b>
            <span ng-show="customer.hasDebt"><i class="ion-checkmark-round" style="color:green; font-size: 15px;"></i> </span>
            <span ng-show="!customer.hasDebt"><i class="ion-close-round" style="color:red; font-size: 15px;"></i> </span> </p></div>
        </a>

        <a class="item" ng-if="customer.hasDebt">
          <div class="operacija"><p><b>Debt amount: </b>  {{customer.debtAmount | number:2}} {{companyObj.currencySymbol}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Created by : </b>{{customer.createdBy}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Created at : </b> {{customer.createdAt  | date:'dd/MM/yyyy'}}</p></div>
        </a>



        <div class="item item-divider">
          Contact info
        </div>

        <a class="item">
          <div class="operacija"><p><b>Email : </b>{{customer.email}}</p></div>
        </a>
        <a class="item">
          <div class="operacija" ng-href="tel:+{{companyObj.callingCodes}}{{customer.telephone}}"><p><b>Telephone : </b>(+{{companyObj.callingCodes}}) {{customer.telephone}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Address : </b>{{customer.address}} {{customer.addressStreetNumber}}</p></div>
        </a>

        <span class="item">
               <a  ng-click="callNumber({{customer.telephone}})" class="button icon-right ion-ios-telephone callAndMsgButton">Call </a>
               <a class="button icon-right ion-ios-email callAndMsgButton">Send SMS</a>
        </span>


      </div>

    </div>


    <!--<a class="button icon-right ion-ios-telephone callAndMsgButton" ng-href="tel:+381695755659">Call this number</a>-->


  </ion-content>
</ion-view>
