<ion-view view-title="Customers">

  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C"  backdrop="true">
    <ion-floating-item icon="ion-ios-personadd"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Create Customer"></ion-floating-item>
    <ion-floating-item icon="ion-ios-infinite"  button-color="#262626" ng-click="createNewCustomer()"
                       text="Customer Statement"></ion-floating-item>

  </ion-floating-menu>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading customers...</h4>
      <div class="col"></div>
    </div>


    <div ng-show="dataLoaded">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear button-positive">
          Clear
        </button>

      </div>
      <ion-list ng-repeat="c in customers">
        <div class="list">
          <a class="item item-thumbnail-left" href="#/app/customers/{{c.id}}" on-hold="onHold(c)" style="margin: -3px;">
            <div class="circleWithCred">{{c.cred}}
            </div>
            <h2 class="titleItem">{{c.firstName}} {{c.lastName}} </h2>
            <p class="subTitleItem">
              <span ng-class="c.hasDebt ? 'debtInList' : 'noDebtInList'">Debt: </span>
              <span ng-show="c.hasDebt" class="haveDebtInList"><i class="ion-checkmark-round" style="font-size: 15px;"></i> </span>
              <span ng-show="!c.hasDebt" class="dontHaveDebtInList"><i class="ion-close-round" style=" font-size: 15px;"></i> </span>
            </p>
            <p class="subTitleItem">
              <i class="ion-ios-telephone"></i> {{c.telephone}}
            </p>
            <p class="subTitleItem">
              <i class="ion-ios-email"></i> {{c.email}}
            </p>
            <!--<p class="subTitleItem">-->
              <!--<i class="ion-ios-email"></i> {{c.email}}-->
            <!--<p>-->
          </a>
        </div>

      </ion-list>
    </div>

  </ion-content>
</ion-view>
