<ion-modal-view>


  <ion-content class="content">
    <div class="bar bar-header bar-stable">
      <h1 class="title">Welcome to Proton Biz</h1>
    </div>
    <img src="../img/logo.png" class="block-center" style="width:130px;height:130px;margin-top: 20%;margin-left:30%;" ng-click="checkConnection()"/>
    <div class=" ">
      <p ng-show="!isOnline" class="text-center"> You are offline..Please come online and try again.</p>
      <a class="button icon-right ion-ios-loop-strong button-calm block-center" ng-click="checkConnection();" ng-show="!isOnline">Reconnect</a>
      <div style="margin:10px 2px;">
        <p ng-show="error" class="text-center" style="boder: 2px solid red; color:#ff837d;">{{error}}</p>
        <p ng-show="!error" class="text-center" style="boder: 1px solid red;">Please login to countinue using our app.</p>
      </div>

    </div>

    <form ng-submit="doLogin()">
      <ion-list>
        <form name="loginForm">

          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="Email" ng-model="user.email">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="Password" ng-model="user.password">
          </label>

          <div  class="row" >
            <button style="width: 100%;" class="button button-outline button-positive" type="submit()" ng-click="login(user)">
              Login <i class="ion-log-in"></i>
            </button>
          </div>

          <div  class="row" style="padding: 5px;">
            <button style="width: 50%;margin-right: 2px;" class="button button-positive"  ng-click="reload()">
              Login with Facebook
            </button>
            <button style="width: 50%;margin-left: 2px;" class="button button-assertive"  ng-click="reload2()">
              Login with google
            </button>

          </div>




        </form>

      </ion-list>
    </form>
  </ion-content>


</ion-modal-view>
