<ion-view view-title="{{orders.length}} Invoices">

  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C"  backdrop="true">
    <ion-floating-item icon="ion-ios-paper"  button-color="#262626" ng-click="createNewOrder()"
                       text="Create Invoice"></ion-floating-item>
    <ion-floating-item icon="ion-ios-infinite"  button-color="#262626" ng-click="createNewOrder()"
                       text="Create Recurring Invoice"></ion-floating-item>

  </ion-floating-menu>
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading invoices...</h4>
      <div class="col"></div>
    </div>

    <div ng-show="dataLoaded">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search">
        </label>
        <button class="button button-clear button-positive">
          Clear
        </button>
      </div>

      <ion-list ng-repeat="c in orders">
        <div class="list">
          <a class="item item-thumbnail-left-order" href="#/app/orders/{{c.id}}" on-hold="onHold()" style="margin: -3px;">
            <div class="circleWithCred"
                 ng-class="{active:'activeColor', paid:'paidColor', completed:'completedColor', notActive: 'notCompleted'}[c.status]"
            >
              <span ng-if="c.status == 'active'"><i class="ion-arrow-right-c"></i> </span>
              <span ng-if="c.status == 'paid'"><i class="ion-cash"></i> </span>
              <span ng-if="c.status == 'completed'"><i class="ion-checkmark"></i> </span>
              <!--<span ng-if="c.status == 'not active'"><i class="ion-minus"></i> </span>-->
            </div>
            <h2 class="titleItem">{{c.customerName}}</h2>
            <p class="subTitleItem">Created: {{c.createdAt | date:'dd/MM/yyyy'}}</p>
            <p class="subTitleItem">Status: {{c.status}}</p>
            <p class="subTitleItem ">Price: {{c.totalPrice}} {{companyObj.currencySymbol}}</p>
          </a>
        </div>

      </ion-list>
    </div>


  </ion-content>
</ion-view>
