<ion-view view-title="Create Invoices">

  <ion-content>

    <form name="invoiceForm">

      <!---------------------------CUSTOMER-------------------------->
      <div>
        <div class="item item-divider">
          {{'CUSTOMER' | translate}}
        </div>
        <div class="item" style="color:#000" ng-show="order.customer">
          {{'CHOOSEN_CUSTOMER' | translate }}: {{order.customer.firstName}} {{order.customer.lastName}}
        </div>
        <div class="item item-body">
          <button class="button button-block button-positive" modal-select="" ng-model="order.customer"
                  options="customers" modal-title="Choose Customer" header-footer-class="bar-positive" has-search="true"
                  sub-header-class="bar-positive">
            <span ng-show="!order.customer">{{'CHOOSE_LABEL' | translate}}</span>
            <span ng-show="order.customer">{{'CHANGE_LABEL' | translate}}</span>
            <div class="option">
              {{option.firstName}} {{option.lastName}}

            </div>
          </button>

          <div ng-hide="order.customer">
            <div
              style="width: 100%;    margin: 1em 0em; height: 10px; border-bottom: 1px solid #c5bebe; text-align: center">
              <span style="font-size: 14px;  background-color: #fafafa;   padding: 0 10px;">
              OR
              </span>
            </div>
            <button class="button button-block button-positive">
              {{'CREATE_LABEL' | translate}}
            </button>

          </div>
        </div>
      </div>
      <!---------------------------PRODUCTS-------------------------->
      <div>
        <div class="item item-divider">
          {{'PRODUCTS' | translate}}
        </div>
        <div class="item" style="color:#000" ng-show="order.product">
          {{'CHOOSEN_PRODUCT' | translate }}: {{order.product.name}}
        </div>
        <div class="item item-body">
          <button class="button button-block button-positive" modal-select="" ng-model="order.product"
                  options="products" modal-title="Choose Product" header-footer-class="bar-positive" has-search="true"
                  sub-header-class="bar-positive">
            <span ng-show="!order.product">{{'CHOOSE_LABEL' | translate}}</span>
            <span ng-show="order.product">{{'CHANGE_LABEL' | translate}}</span>
            <div class="option">
              {{option.name}}

            </div>
          </button>
          <div ng-show="!order.product">
            <div
              style="width: 100%;    margin: 1em 0em; height: 10px; border-bottom: 1px solid #c5bebe; text-align: center">
              <span style="font-size: 14px;  background-color: #fafafa;   padding: 0 10px;">
              OR
              </span>
            </div>
            <button class="button button-block button-positive">
              {{'CREATE_LABEL' | translate}}
            </button>
          </div>


          <div ng-if="order.product" >
            <!--<div ng-if="input1" class="list">-->
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Quantity</span>
                <input type="number" ng-model="quantity"  placeholder="How much of {{order.product.name}} to add in invoice?">
              </label>
            </div>
            <!--</div>-->
            <button class="button button-block button-positive" ng-click="invoiceAdded(order.product, quantity)" ng-show="quantity">
              {{'ADD_TO_INVOICE' | translate}}
            </button>


            <!--<div class="list" ng-if="input1">-->
              <!--<p>Selected : {{quantity}}</p>-->
              <!--<div class="item range range-positive">-->
                <!--<i class="ion-minus-round minusBtn button" ng-click="decr()"></i>-->
                <!--<span>0</span>-->
                <!--<input type="range" name="volume" min="0" max="{{order.product.stockSize}}" value="0"-->
                       <!--ng-model="quantity">-->
                <!--<span>{{order.product.stockSize}}</span>-->
                <!--<i class="ion-plus-round plusBtn button" ng-click="incr()"></i>-->
              <!--</div>-->
            <!--</div>-->


            <!--<a ng-click="changeInput()">Easier to enter number?</a>-->

          </div>

          <div class="list">

          </div>

        </div>
      </div>
      <!---------------------------TAXES   -------------------------->
      <div>
        <div class="item item-divider">
          {{'TAXES' | translate}}
        </div>
        <ion-checkbox ng-model="order.withTax">With tax</ion-checkbox>

        <div>
          <div class="item" style="color:#000" ng-show="order.withTax && order.tax">
            {{'CHOOSEN_TAXES' | translate }}: {{order.tax.name}} ({{order.tax.taxRate}}%)
          </div>
          <div class="item item-body" ng-show="order.withTax">
            <button class="button button-block button-positive" modal-select="" ng-model="order.tax"
                    options="taxes" modal-title="Choose Taxes" header-footer-class="bar-positive" has-search="true"
                    sub-header-class="bar-positive">
              <span ng-show="!order.tax">{{'CHOOSE_LABEL' | translate}}</span>
              <span ng-show="order.tax">{{'CHANGE_LABEL' | translate}}</span>
              <div class="option">
                {{option.name}} ({{option.taxRate}}%)

              </div>
            </button>
          </div>

        </div>
      </div>
      <!---------------------------SHIPPING-------------------------->
      <div>
        <div class="item item-divider">
          {{'SHIPPING_INFO' | translate}}
        </div>

        <ion-checkbox ng-model="delivery">Delivery</ion-checkbox>
        <ion-checkbox ng-model="userCustomerInfo">Use customer information for delivery</ion-checkbox>

        <div class="item" ion-datetime-picker ng-model="order.deadline" title="Deadline">
          <label>Select deadline: </label>
          {{order.deadline | date: "dd-MM-yyyy H:mm"}}
        </div>
      </div>
      <div>
        <div class="item item-divider">
          {{'Invoice info' | translate}}
        </div>

        <label class="item item-input item-floating-label">
          <span class="input-label">Description</span>
          <input type="text"  ng-model="order.description" placeholder="Description">
        </label>

        <ion-checkbox ng-model="order.recurring">Recurring</ion-checkbox>

      </div>

      <button class="button button-full  protonBizRed" type="submit" ng-click="createInvoice(order)">
        {{'CREATE' | translate}}
      </button>


    </form>


  </ion-content>
</ion-view>
