<ion-view view-title="Invoice Details" hide-back-button="false" >

  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C"  backdrop="true">
    <ion-floating-item icon="ion-ios-paper"  button-color="#262626" ng-click="createNewOrder()"
                       text="Create Invoice"></ion-floating-item>
    <ion-floating-item icon="ion-ios-infinite"  button-color="#262626" ng-click="createNewOrder()"
                       text="Create Recurring Invoice"></ion-floating-item>

  </ion-floating-menu>
  <ion-nav-title>
    <p>Invoice Details </p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-more-outline" style="color:#fff;" ng-click="show()"></a>
  </ion-nav-buttons>

  <ion-content class="pregled">

    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading invoice...</h4>
      <div class="col"></div>
    </div>
    <div ng-show="dataLoaded">


      <div class="list">

        <div class="item item-divider">
          Basic info
        </div>

        <a class="item">
          <div class="operacija"><p><b>Id : </b>{{order.id}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Invoice status : </b> {{order.status}}
          <i class="ion-ios-circle-filled"
             ng-class="{active:'activeColorCircle', paid:'paidColorCircle', completed:'completedColorCircle', notActive: 'notCompletedCircle'}[order.status]"></i>
          </p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Created by : </b>{{order.createdBy}}</p></div>
        </a>



        <div class="item item-divider">
          Customer info
        </div>

        <a class="item">
          <div class="operacija"><p><b>Full name : </b> {{order.customerName}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Telephone : </b>(+{{companyObj.callingCodes}}) {{order.customerTelephone}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Address : </b>{{order.deliveryAddress}}</p></div>
        </a>

        <div class="item item-divider">
          Pricing info
        </div>
        <a class="item">
          <div class="operacija">
            <p><b>Products in invoice : </b></p>
            <div class="operacija" ng-repeat="product in order.products">
            <p style="padding-left: 20px;"> {{product.name}} x {{product.quantityInstance}} {{product.unit}}</p>
              </div>
          </div>
        </a>

        <a class="item">
          <div class="operacija"><p><b>Price: </b> {{order.price| number:2}} {{companyObj.currencySymbol}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>With tax : </b>
              <span ng-show="order.withTax"><i class="ion-checkmark-round" style="font-size: 15px;color:green;"></i> </span>
              <span ng-show="!order.withTax"><i class="ion-close-round" style=" font-size: 15px; color:red;"></i> </span>
          </p></div>
        </a>
        <a class="item" ng-show="order.withTax">
          <div class="operacija" ><p><b>Tax rate : </b> {{order.taxRate}}%</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Total price : </b> {{order.totalPrice | number:2}}{{companyObj.currencySymbol}}</p></div>
        </a>

        <div class="item item-divider">
          Invoice detail
        </div>
        <a class="item">
          <div class="operacija"><p><b>Description : </b> {{order.description}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Created at : </b> {{order.createdAt | date:'dd/MM/yyyy'}}</p></div>
        </a>
        <a class="item">
          <div class="operacija"><p><b>Deadline : </b> {{order.deadline | date:'dd/MM/yyyy'}}</p></div>
        </a>
      </div>

    </div>

  </ion-content>
</ion-view>
