<ion-view view-title="Products">
  <ion-floating-menu menu-color="#CF061C" menu-open-color="#CF061C" backdrop="true">
    <ion-floating-item icon="ion-ios-pricetags" click="createNewProduct()" button-color="#262626" text="New Product"></ion-floating-item>
  </ion-floating-menu>
  <ion-content>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <ion-spinner name="dots"></ion-spinner>
      <div class="col"></div>
    </div>
    <div class="row" style="margin:10px;" ng-show="!dataLoaded">
      <div class="col"></div>
      <h4 class="">Loading products...</h4>
      <div class="col"></div>
    </div>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <div class="bar bar-header item-input-inset" ng-show="dataLoaded">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-clear button-positive">
        Clear
      </button>
    </div>
    <!--<ion-list ng-repeat="c in products" ng-show="dataLoaded">-->
      <!--<div class="list">-->
        <!--<a class="item item-thumbnail-left" href="#/app/products/{{c.id}}" style="margin: -3px;">-->
          <!--<div>-->
            <!--<img ng-src="{{c.productImg}}">-->

          <!--</div>-->
          <!--<h2 class="titleItem">{{c.name}}</h2>-->
          <!--<p class="subTitleItem">{{c.category}}</p>-->
          <!--<p class="subTitleItem ">{{c.pricePerUnit}} {{companyObj.currencySymbol}} / {{c.unit}}</p>-->
        <!--</a>-->
      <!--</div>-->
    <!--</ion-list>-->


    <ion-list ng-repeat="c in products">
      <div class="list">
        <a class="item item-thumbnail-left-product" href="#/app/products/{{c.id}}" on-hold="onHold()" style="margin: -3px;">
          <div>
            <img style="width: 70px;height: 70px; border-radius:50%;" ng-src="{{c.productImg}}">
          </div>
          <h2 class="titleItem">{{c.name}}</h2>
          <p class="subTitleItem">{{c.category}}</p>
          <p class="subTitleItem ">{{c.pricePerUnit}} {{companyObj.currencySymbol}} / {{c.unit}}</p>
        </a>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
