
<ion-view view-title="Profile"  hide-back-button="false" >

  <ion-nav-title>
    <p >Your Profile </p>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-ios-settings" style="color:#fff;" ng-click="show()"></a>
  </ion-nav-buttons>
  <ion-content class="pregled" style="padding: 10px; margin:10px;">
    <div class="row">
      <div class="col" style="margin:10px;" ></div>
      <img ng-src="{{currentUser.avatarImg}}"  style="width: 200px;height: 200px;  border-radius: 50%; border: 1px solid #d0cccc;"/>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <div class="col"></div>
      <div class="operacija"><h5 class="col"><b>{{userName}}</b></h5></div>
      <div class="col"></div>
    </div>

    <div class="item item-divider">
      User info
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-ios-email-outline" style="font-size: 20px;"></i> <span>{{currentUser.email}}</span></div>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-ios-home-outline" style="font-size: 20px;"></i> <span>{{currentUser.address}} {{currentUser.streetNumber}}</span></div>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-ios-telephone-outline" style="font-size: 20px;"></i> <span>+{{companyObj.callingCodes}} {{currentUser.telephone}}</span></div>
      <div class="col"></div>
    </div>

    <div class="item item-divider">
      Company info
    </div>

    <div class="row" style="margin:10px;">
      <div class="col"></div>
      <div class="operacija"><h5 class="col"><b>{{companyObj.name}}</b></h5></div>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-ios-location-outline" style="font-size: 20px;"></i> <span>{{companyObj.country}}, {{companyObj.location}}</span></div>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-ios-telephone-outline" style="font-size: 20px;"></i> <span>+{{companyObj.callingCodes}} {{currentUser.telephone}}</span></div>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-ios-people-outline" style="font-size: 20px;"></i> <span> Number of employees :  {{companyObj.numberOfCompanyEmployes}}</span></div>
      <div class="col"></div>
    </div>

    <div class="row" style="margin:10px;">
      <!--<div class="col"></div>-->
      <div class="operacija"><i class="ion-social-usd-outline" style="font-size: 20px;"></i> <span> Currency :  {{companyObj.currencyName}} ({{companyObj.currency}}) - {{companyObj.currencySymbol}}</span></div>
      <div class="col"></div>
    </div>



  </ion-content>
</ion-view>
