/* Empty. Add your own CSS if you like */

[nav-bar-transition="android"] [nav-bar="active"] .bar,
[nav-bar-transition="android"] [nav-bar="entering"] .bar {
  background: transparent; }


.protonBizRed{
  background: #CF061D;
  color: #ffffff;
}
.subTitleItem{
  font-size:13px !important;
}

.titleItem {
  font-size:16px !important;
}


.marginTop{
  margin-top: 10px;
}

.item-thumbnail-left > div:first-child{
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
}

.item-thumbnail-left-order > div:first-child{
  position: absolute;
  top: 20px;
  left: 20px;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
}

.item-thumbnail-left-order {
  padding-top: 8px;
  padding-left: 106px;
  min-height: 100px;
}

.item-thumbnail-left-product > div:first-child{
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 70px;
  max-height: 70px;
  width: 100%;
  height: 100%;
}

.item-thumbnail-left-product {
  padding-top: 8px;
  padding-left: 106px;
  min-height: 100px;
}

.circleWithCred{
  background: #76C0D7;text-align: center; color: #fff;font-size: 30px;
  padding: 25px 0; border-radius:50%;
}

.debtInList{
  border: 1px solid #D12B37;
  padding: 1px;
  color: #D12B37;
  font-weight: bold;
}

.noDebtInList{
  border: 1px solid #79D13C;
  padding: 2px;
  color: #79D13C;
  font-weight: bold;
}

.haveDebtInList{
  padding: 2px;
  border: 1px solid #D12B37;
  background: #D12B37;
  color: #fff;
}


.dontHaveDebtInList{
  padding: 2px;
  border: 1px solid #79D13C;
  background: #79D13C;
  color: #fff;

}

.activeColor{
  background: #3778ff;
  padding: 20px 0;
}

.completedColor{
  background: green;
  padding: 20px 0;
}

.paidColor{
  background: gold;
  padding: 20px 0;
}

.notCompleted{
  color: red;
  padding: 20px 0;
}

.activeColorCircle{
  color: #3778ff;
  padding: 20px 0;
}

.completedColorCircle{
  color: green;
  padding: 20px 0;
}

.paidColorCircle{
  color: gold;
  padding: 20px 0;
}

.notCompletedCircle{
  color: red;
  padding: 20px 0;
}

.minusBtn{
  padding: 5px;
  background: #CF061D;
  color: #fff;
  margin: 10px 10px 10px 0px;
}

.plusBtn{
  padding: 5px;
  background: green;
  color: #fff;
  margin: 10px 0px 10px 10px;
}

.operacija{

  padding: 1px;
}
